* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.letter {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  color: magenta;
  transition: all 2s;
}